src/flows/Case_Wizard_IP_Fulfillment-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>371</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_case_subject_plus_processing_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueueList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queuelist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcessingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>processing_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_email_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerIPTrademarks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_One_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0</name>
        <label>Assign Values</label>
        <locationX>364</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubject_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_case_subject_plus_processing_number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueueList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queuelist_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Comments_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcessingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>processing_number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_email_subject_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerIPCopyrights</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_One_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0_0</name>
        <label>Assign Values</label>
        <locationX>369</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubject_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_case_subject_plus_processing_number_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueueList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queuelist_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Comments_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcessingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>processing_number_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_email_subject_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerIPPatents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_One_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0_0_0</name>
        <label>Assign Values</label>
        <locationX>367</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubject_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_case_subject_plus_processing_number_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueueList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queuelist_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Comments_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcessingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>processing_number_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmailSubjectOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>other_email_subject_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerIPTMSearch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_One_decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ABX_Sent_Order_order_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ABX Sent - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABX Sent - Order # {!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Hold_Order_processing_number</name>
        <choiceText>Admin Hold - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Hold - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Hold_Order_processing_number00</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin Hold - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Hold - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Hold_Request_Order_processing_number</name>
        <choiceText>Admin Hold Request - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Hold Request - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ancillary_Order_processing_number</name>
        <choiceText>Ancillary - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ancillary - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>AS_Subscription</name>
        <choiceText>AS Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASD_Legal_Plan_Retention</name>
        <choiceText>ASD-LegalPlan_Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASD Legal Plan Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignedUserChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vUser}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vAssignedUser</elementReference>
        </value>
    </choices>
    <choices>
        <name>Attorney_Consultation_Requests</name>
        <choiceText>Attorney Consultation Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attorney Consultation Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attorney_Services</name>
        <choiceText>Attorney Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attorney Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bankruptcy</name>
        <choiceText>Bankruptcy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bankruptcy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Advantage_Pro_Standalone</name>
        <choiceText>Business Advantage Pro Standalone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Advantage Pro Standalone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Formations</name>
        <choiceText>Business Formations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Formations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canceled_no_refund_due</name>
        <choiceText>Canceled (no refund due)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled (no refund due)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation_Confirmation_Order_processing_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancellation Confirmation - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Confirmation - Order # {!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation_Confirmation_Order_processing_number0</name>
        <choiceText>Cancellation Confirmation - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Confirmation - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation_Confirmation_Order_processing_number00</name>
        <choiceText>Cancellation Confirmation - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Confirmation - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Affiliate</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Affiliate - Order#{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Affiliate - Order#{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Alternate_Names</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Alternate Names - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Names - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ASD_LegalPlan_Retention</name>
        <choiceText>ASD-LegalPlan_Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASD-LegalPlan_Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_BA_BAP</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;BA/BAP - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA/BAP - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Billing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Biz_Advisors_Out</name>
        <choiceText>Biz Advisors Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz Advisors Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Biz_BSI</name>
        <choiceText>Biz BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Biz_Escalation</name>
        <choiceText>Biz Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Biz_QC_Approval</name>
        <choiceText>Biz QC Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz QC Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Cancel</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancel &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_AS</name>
        <choiceText>CC Attorney Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Attorney Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_Biz</name>
        <choiceText>CC BIZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC BIZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CC_Divorce</name>
        <choiceText>CC Divorce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Divorce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_EP</name>
        <choiceText>CC EP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC EP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_General</name>
        <choiceText>CC General Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC General Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_IP</name>
        <choiceText>CC IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CC_Name_Change</name>
        <choiceText>CC Name Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Name Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_PS</name>
        <choiceText>CC PS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC PS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Change_Account_Info</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Account Info &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Info  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Change_Order_Info</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Order Info &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order Info  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Doc_Delivery</name>
        <choiceText>Doc Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doc Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Email</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_BSI</name>
        <choiceText>IP BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Copyright_Billing_Updates</name>
        <choiceText>IP Copyright Billing Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Copyright Billing Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Copyright_Materials</name>
        <choiceText>IP Copyright Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Copyright Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Copyright_Order_Updates</name>
        <choiceText>IP Copyright Order Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Copyright Order Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Copyrights</name>
        <choiceText>IP Copyrights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Copyrights</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Partners_and_Firms</name>
        <choiceText>IP Partners and Firms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Partners and Firms</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Patent_Billing_Updates</name>
        <choiceText>IP Patent Billing Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Patent Billing Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Patent_Materials</name>
        <choiceText>IP Patent Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Patent Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Patent_Order_Updates</name>
        <choiceText>IP Patent Order Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Patent Order Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Patents</name>
        <choiceText>IP Patents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Patents</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Billing_Updates</name>
        <choiceText>IP Trademark Billing Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Billing Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Faxes</name>
        <choiceText>IP Trademark Faxes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Faxes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Goods_and_Services</name>
        <choiceText>IP Trademark Goods and Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Goods and Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Materials</name>
        <choiceText>IP Trademark Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Monitoring</name>
        <choiceText>IP Trademark Monitoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Monitoring</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Office_Actions</name>
        <choiceText>IP Trademark Office Actions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Office Actions</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Order_Updates</name>
        <choiceText>IP Trademark Order Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Order Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Outbound</name>
        <choiceText>IP Trademark Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Search</name>
        <choiceText>IP Trademark Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Search</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademark_Search_Approvals</name>
        <choiceText>IP Trademark Search Approvals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademark Search Approvals</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_IP_Trademarks</name>
        <choiceText>IP Trademarks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Trademarks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Other</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_Problem_Order</name>
        <choiceText>Problem Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problem Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PS_Fulfillment_Approval</name>
        <choiceText>PS Fulfillment Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PS Fulfillment Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_BSI</name>
        <choiceText>PSD-BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Divorce_Problem_Orders</name>
        <choiceText>PSD-Divorce Problem Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-Divorce Problem Orders</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Divorce_Processing</name>
        <choiceText>PSD-Divorce Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-Divorce Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Divorce_Re_Shipping</name>
        <choiceText>PSD-Divorce Re-Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-Divorce Re-shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Divorce_Revisions</name>
        <choiceText>PSD-Divorce Revisions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-Divorce Revisions</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_EP_Problem_Orders</name>
        <choiceText>PSD-EP Problem Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-EP Problem Orders</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_EP_Processing</name>
        <choiceText>PSD - EP Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD - EP Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_EP_Vault</name>
        <choiceText>PSD-EP-Vault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-EP-Vault</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Name_Change_Problem_Orders</name>
        <choiceText>PSD Name Change Problem Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD Name Change Problem Orders</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Name_Change_Processing</name>
        <choiceText>PSD Name Change Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD Name Change Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_PSD_Name_Change_Re_Shipping</name>
        <choiceText>PSD - Name Change Re-Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD - Name Change Re-Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Registered_Agent</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registered Agent &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered Agent  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SPAM</name>
        <choiceText>SPAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_STO</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STO &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STO  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Transfer</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Transfer - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation_Subscription</name>
        <choiceText>Consultation Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation_Subscription_Renewal</name>
        <choiceText>Consultation Subscription Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation Subscription Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Error</name>
        <choiceText>Customer Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>DBA</name>
        <choiceText>DBA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DBA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demonstrated_how_to_use</name>
        <choiceText>Demonstrated how to use</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demonstrated how to use</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Hit_Order_processing_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Direct Hit - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Hit - Order #{!processing_number_0_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Error</name>
        <choiceText>Document - Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document - Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Shipping</name>
        <choiceText>Document - Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document - Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_sig_Request_Order_processing_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;E-sig Request - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-sig Request - Order # {!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_AS_subscription</name>
        <choiceText>Explained benefits of AS subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of AS subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_product</name>
        <choiceText>Explained benefits of product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_RA_subscription</name>
        <choiceText>Explained benefits of RA subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of RA subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Feedback_No_Issue</name>
        <choiceText>Feedback (No Issue)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feedback (No Issue)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forms_Subscription</name>
        <choiceText>Forms Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forms Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forms_Subscription_Renewal</name>
        <choiceText>Forms Subscription Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forms Subscription Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_S_Problem_Order_order_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;G&amp;amp;S Problem - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G&amp;S Problem - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorporation</name>
        <choiceText>Incorporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorporation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intellectual_Property</name>
        <choiceText>Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP_Copyrights</name>
        <choiceText>IP Copyrights</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IP_Patents</name>
        <choiceText>IP Patents</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IP_Trademark_Search</name>
        <choiceText>IP Trademark Search</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IP_Trademarks</name>
        <choiceText>IP Trademarks</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>L_S_Materials_Needed_Order</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;L&amp;amp;S Materials Needed - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L&amp;S Materials Needed - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_S_No_Match_Order_processing_number</name>
        <choiceText>L&amp;S No Match - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L&amp;S No Match - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Advantage_Plus_Standalone</name>
        <choiceText>Legal Advantage Plus Standalone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Advantage Plus Standalone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Form</name>
        <choiceText>Legal Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>LLC</name>
        <choiceText>LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Logo_Search_Order_processing_number</name>
        <choiceText>Logo Search - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Logo Search - Order #{!processing_number_0_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Grammatical</name>
        <choiceText>LZ Error- Grammatical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Grammatical</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Incorrect_Address</name>
        <choiceText>LZ Error- Incorrect Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Incorrect Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Incorrect_Name</name>
        <choiceText>LZ Error- Incorrect Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Incorrect Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Late_Non_Premium_Packages</name>
        <choiceText>LZ Error- Late-Non-Premium Packages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Late-Non-Premium Packages</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Late_Premium_Packages</name>
        <choiceText>LZ Error- Late-Premium Packages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Late-Premium Packages</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Missing_Information</name>
        <choiceText>LZ Error- Missing Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Missing Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Other</name>
        <choiceText>LZ Error- Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Petitioner_Respondent_Reversed</name>
        <choiceText>LZ Error- Petitioner/Respondent Reversed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Petitioner/Respondent Reversed</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Typo</name>
        <choiceText>LZ Error- Typo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Typo</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Wrong_Document</name>
        <choiceText>LZ Error- Wrong Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Wrong Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_Literal_Element_Order_processing_number</name>
        <choiceText>Missing Literal Element - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Literal Element - Order #{!processing_number_0_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monitoring_Order_processing_number</name>
        <choiceText>Monitoring - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitoring - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Need_Logo_for_Search_Order_processing_number</name>
        <choiceText>Need Logo for Search - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need Logo for Search - Order #{!processing_number_0_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_User</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No Value</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NonProfit</name>
        <choiceText>NonProfit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NonProfit</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCAA_Plans</name>
        <choiceText>OCAA Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCAA Plans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Action_Order_processing_number</name>
        <choiceText>Office Action - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Action - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Billing</name>
        <choiceText>Order - Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_not_started</name>
        <choiceText>Order not started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order not started</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Saved</name>
        <choiceText>Order Saved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Saved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Status</name>
        <choiceText>Order - Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Update_Account_or_Contact</name>
        <choiceText>Order - Update Account or Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Update Account or Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Update_or_Cancel</name>
        <choiceText>Order - Update or Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Update or Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_describe_in_case_comments</name>
        <choiceText>Other (describe in case comments)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (describe in case comments)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Email_Subject_please_specify</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Other Email Subject (please specify) -- &lt;I&gt;Salesforce will automatically insert &amp;quot;&lt;/I&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;Your LegalZoom Order # (order number)&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;I&gt;&amp;quot; in front of the text you specify in the box below.&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Order_processing_number</name>
        <choiceText>Other - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_please_specify</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Queue_List</name>
        <choiceText>Other queue (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Reason</name>
        <choiceText>Other Reason</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Reason</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_subject_please_specify</name>
        <choiceText>Other subject (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Outbound_Call</name>
        <choiceText>Outbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound_Result</name>
        <choiceText>Outbound Result</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Result</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patent_Search_Approve_Confirmation_Order_processing_number</name>
        <choiceText>Patent Search Approved Confirmation - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patent Search Approved Confirmation - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patent_Search_YouSendIt_Order_processing_number</name>
        <choiceText>Patent Search Hightail - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patent Search Hightail - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services2</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post_Filing_Order_processing_number</name>
        <choiceText>Post Filing - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post Filing - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post_Filing_Order_processing_number0</name>
        <choiceText>Post Filing - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post Filing - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post_Filing_Order_processing_number00</name>
        <choiceText>Post Filing - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post Filing - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Sales_Product_not_offered</name>
        <choiceText>Pre-Sales Product not offered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Sales Product not offered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Problem_Order_processing_number</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Problem - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problem - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Instructions_or_Execution</name>
        <choiceText>Product Instructions or Execution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Instructions or Execution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Question</name>
        <choiceText>Product Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>PS_Approval</name>
        <choiceText>PS Approval</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PS_Divorce</name>
        <choiceText>PS Divorce</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PS_EP</name>
        <choiceText>PS EP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PS_Name_Change</name>
        <choiceText>PS Name Change</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RA_Subscription</name>
        <choiceText>RA Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RA Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund_Requested</name>
        <choiceText>Refund Requested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund Requested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requires_Transfer</name>
        <choiceText>Requires Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requires Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved_Issue</name>
        <choiceText>Resolved Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revisions_Order</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Revisions - Order # (processing number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisions - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revisions_Order_processing_number</name>
        <choiceText>Revisions - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisions - Order #{!processing_number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revisions_Order_processing_number_0</name>
        <choiceText>Revisions - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisions - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sam_s_Club</name>
        <choiceText>Sam&apos;s Club</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sam&apos;s Club</stringValue>
        </value>
    </choices>
    <choices>
        <name>select_one</name>
        <choiceText>select one</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unable_to_Process_Search_Order_processing_number</name>
        <choiceText>Unable to Process Search - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Process Search - Order #{!processing_number_0_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Waiting_on_Customer</name>
        <choiceText>Waiting on Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting on Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Site_Technical_Issues</name>
        <choiceText>Web Site - Technical Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Site - Technical Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>WTR_Outreach_Order_processing_number</name>
        <choiceText>WTR Outreach - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WTR Outreach - Order #{!processing_number_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>WTR_Outreach_Order_processing_number00</name>
        <choiceText>WTR Outreach - Order # (processing number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WTR Outreach - Order #{!processing_number_0_0}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_User</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order</name>
        <choiceText>Your LegalZoom Order #</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_mark_name</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - (mark name)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>order_number_mark_name_IP_Trademarks</elementReference>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number</name>
        <choiceText>Your LegalZoom Order # (order number)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseSubjectLine</elementReference>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number0</name>
        <choiceText>Your LegalZoom Order # (order number)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>field_Order_Number_0</elementReference>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number00</name>
        <choiceText>Your LegalZoom Order # (order number)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>field_Order_Number_0_0</elementReference>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number000</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0_0} - {!Mark_Name}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Cancellation_Confirmation</name>
        <choiceText>Your LegalZoom Order # (order number) - Cancellation Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0} - Cancellation Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Cancellation_Confirmation00</name>
        <choiceText>Your LegalZoom Order # (order number) - Cancellation Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Cancellation Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Hold_Confirmation</name>
        <choiceText>Your LegalZoom Order # (order number) - Hold Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0} - Hold Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Hold_Confirmation00</name>
        <choiceText>Your LegalZoom Order # (order number) - Hold Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Hold Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Hold_Confirmation000</name>
        <choiceText>Your LegalZoom Order # (order number) - Hold Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0_0} - Hold Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_mark_name</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - (mark name) - Materials Needed&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number} - {!Mark_Name} - Materials Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_mark_name000</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - (mark name)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>order_number_mark_name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_mark_name_Cancellation_Confirmation</name>
        <choiceText>Your LegalZoom Order # (order number) - (mark name) - Cancellation Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number} - {!Mark_Name} - Cancellation Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_mark_name_Hold_Confirmation</name>
        <choiceText>Your LegalZoom Order # (order number) - (mark name) - Hold Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number} - {!Mark_Name} - Hold Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_mark_name_Urgent_Action_Required</name>
        <choiceText>Your LegalZoom Order # (order number) - (mark name) - Urgent Action Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number} - {!Mark_Name} - Urgent Action Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Materials_Needed</name>
        <choiceText>Your LegalZoom Order # (order number) - Materials Needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0} - Materials Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Materials_Needed00</name>
        <choiceText>Your LegalZoom Order # (order number) - Materials Needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Materials Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Patent_Search</name>
        <choiceText>Your LegalZoom Order # (order number) - Patent Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Patent Search</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Revisions_to_Your_Order</name>
        <choiceText>Your LegalZoom Order # (order number) - Revisions to Your Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0_0} - Revisions to Your Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Update_Confirmation</name>
        <choiceText>Your LegalZoom Order # (order number) - Update Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0_0} - Update Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Urgent_Action_Required</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - Urgent Action Required&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0} - Urgent Action Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Urgent_Action_Required00</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - Urgent Action Required&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Urgent Action Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order_order_number_Urgent_Action_Required000</name>
        <choiceText>Your LegalZoom Order # (order number) - Urgent Action Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0_0} - Urgent Action Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Your_Legalzoomorder_revisions</name>
        <choiceText>Your LegalZoom Order # (order number) - Revisions to Your Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0_0} - Revisions to Your Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>YourLegalZoomOrder_revisions_to_your_order</name>
        <choiceText>Your LegalZoom Order # (order number) - Revisions to Your Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number_0} - Revisions to Your Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>YourLegalZoomOrderfield_Order_NumberPENDING</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number) - PENDING&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!field_Order_Number} - PENDING</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Comments_null</name>
        <label>Case Comments null</label>
        <locationX>697</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>case_comments_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vComment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Subject_Selected</targetReference>
            </connector>
            <label>case comments is null</label>
        </rules>
        <rules>
            <name>case_comments_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vComment</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Comments</targetReference>
            </connector>
            <label>case comments not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_email_subject_decision</name>
        <label>Other email subject</label>
        <locationX>1121</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Update_subject_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not selected</defaultConnectorLabel>
        <rules>
            <name>Other_email_subject_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Email_Subject_please_specify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_subject_0</targetReference>
            </connector>
            <label>Other email subject selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Queue_Selected</name>
        <label>Other Queue Selected</label>
        <locationX>1115</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Update_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Other_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Other</targetReference>
            </connector>
            <label>Other Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Subject_Selected</name>
        <label>Other Subject Selected</label>
        <locationX>1119</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Update_subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Other_subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_subject_please_specify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject_Other</targetReference>
            </connector>
            <label>Other subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_One_decision</name>
        <label>Select One</label>
        <locationX>492</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Select_One_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>select_one</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>need_a_Queue</targetReference>
            </connector>
            <label>Select One</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_team</name>
        <label>which team</label>
        <locationX>18</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>none</defaultConnectorLabel>
        <rules>
            <name>IP_Trademarks_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Trademarks</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input</targetReference>
            </connector>
            <label>IP Trademarks</label>
        </rules>
        <rules>
            <name>IP_Copyrights_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Copyrights</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_0</targetReference>
            </connector>
            <label>IP Copyrights</label>
        </rules>
        <rules>
            <name>IP_Patents_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Patents</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_0_0</targetReference>
            </connector>
            <label>IP Patents</label>
        </rules>
        <rules>
            <name>IP_TM_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Trademark_Search</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_0_0_0</targetReference>
            </connector>
            <label>IP TM Search</label>
        </rules>
    </decisions>
    <description>Partner Update</description>
    <dynamicChoiceSets>
        <name>A</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>B</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>D</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>E</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ending</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>F</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>G</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>G</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>H</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>H</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>I</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>J</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>J</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>K</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>K</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>L</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>L</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>M</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>N</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>O</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>P</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductLine</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <outputAssignments>
            <assignToReference>vProduct</assignToReference>
            <field>Sub__c</field>
        </outputAssignments>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productlisting</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Q</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Q</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>queuepicklist</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>R</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforContact</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reason</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResolutionDetail</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>S</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>starting</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>T</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>U</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>U</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>V</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>W</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Y</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Z</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Z</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Case Wizard IP Fulfillment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Case_Comments</name>
        <label>Add Case Comments</label>
        <locationX>705</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Other_Subject_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>vComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>546</locationX>
        <locationY>61</locationY>
        <assignRecordIdToReference>vCase</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Comments_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_User__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>variable_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_By_Case_Wizard__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Subject__c</field>
            <value>
                <elementReference>vEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>vOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>vPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Number__c</field>
            <value>
                <elementReference>vProcessingNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Queue</name>
        <label>Update Queue</label>
        <locationX>1390</locationX>
        <locationY>486</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Other</name>
        <label>Update Queue &quot;Other&quot;</label>
        <locationX>1113</locationX>
        <locationY>561</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>vQueueList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_subject</name>
        <label>Update subject</label>
        <locationX>1252</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Other_email_subject_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_subject_0</name>
        <label>Update subject</label>
        <locationX>1253</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Other_Queue_Selected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Subject__c</field>
            <value>
                <elementReference>vEmailSubjectOther</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_subject_0_0</name>
        <label>Update subject</label>
        <locationX>1116</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Other_Queue_Selected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Subject__c</field>
            <value>
                <elementReference>vEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject_Other</name>
        <label>Update Subject &quot;Other&quot;</label>
        <locationX>1122</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Other_email_subject_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vSubjectOther</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>228</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>introduction</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processing_number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Processing Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!processing_number})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space30</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space31</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mark_Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mark Name&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSubject</name>
            <choiceReferences>G_S_Problem_Order_order_number</choiceReferences>
            <choiceReferences>L_S_Materials_Needed_Order</choiceReferences>
            <choiceReferences>L_S_No_Match_Order_processing_number</choiceReferences>
            <choiceReferences>E_sig_Request_Order_processing_number</choiceReferences>
            <choiceReferences>Cancellation_Confirmation_Order_processing_number</choiceReferences>
            <choiceReferences>Admin_Hold_Request_Order_processing_number</choiceReferences>
            <choiceReferences>Post_Filing_Order_processing_number</choiceReferences>
            <choiceReferences>Office_Action_Order_processing_number</choiceReferences>
            <choiceReferences>Ancillary_Order_processing_number</choiceReferences>
            <choiceReferences>Monitoring_Order_processing_number</choiceReferences>
            <choiceReferences>Revisions_Order_processing_number</choiceReferences>
            <choiceReferences>Other_Order_processing_number</choiceReferences>
            <choiceReferences>Other_subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_case_subject</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailSubject</name>
            <choiceReferences>Your_LegalZoom_Order_mark_name</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_mark_name</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_mark_name_Urgent_Action_Required</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_mark_name_Cancellation_Confirmation</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_mark_name_Hold_Confirmation</choiceReferences>
            <choiceReferences>Other_Email_Subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>other_email_subject</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 250 characters).</errorMessage>
                <formulaExpression>LEN({!other_email_subject}) &lt; 251</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space27</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue</name>
            <choiceReferences>choice_IP_Trademarks</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Billing_Updates</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Faxes</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Goods_and_Services</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Materials</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Monitoring</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Office_Actions</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Order_Updates</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Outbound</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Search</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Search_Approvals</choiceReferences>
            <choiceReferences>Choice_CC_IP</choiceReferences>
            <choiceReferences>choice_IP_BSI</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_IP_Trademarks</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space26</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartnerIPTrademarks</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space45</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Comments</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Comments&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Input_0</name>
        <label>Input</label>
        <locationX>232</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_0</targetReference>
        </connector>
        <fields>
            <name>introduction_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processing_number_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Processing Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!processing_number_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space32</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space12_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_0</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSubject_0</name>
            <choiceReferences>Problem_Order_processing_number</choiceReferences>
            <choiceReferences>Revisions_Order_processing_number_0</choiceReferences>
            <choiceReferences>Admin_Hold_Order_processing_number</choiceReferences>
            <choiceReferences>Cancellation_Confirmation_Order_processing_number0</choiceReferences>
            <choiceReferences>Post_Filing_Order_processing_number0</choiceReferences>
            <choiceReferences>WTR_Outreach_Order_processing_number</choiceReferences>
            <choiceReferences>Other_subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_case_subject_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailSubject_0</name>
            <choiceReferences>Your_LegalZoom_Order_order_number_Urgent_Action_Required</choiceReferences>
            <choiceReferences>YourLegalZoomOrder_revisions_to_your_order</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Hold_Confirmation</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Cancellation_Confirmation</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Materials_Needed</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number0</choiceReferences>
            <choiceReferences>Other_Email_Subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>other_email_subject_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 250 characters).</errorMessage>
                <formulaExpression>LEN({!other_email_subject_0}) &lt; 251</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space27_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User_0</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue_0</name>
            <choiceReferences>choice_IP_Copyrights</choiceReferences>
            <choiceReferences>choice_IP_Copyright_Materials</choiceReferences>
            <choiceReferences>Choice_CC_IP</choiceReferences>
            <choiceReferences>choice_IP_Copyright_Order_Updates</choiceReferences>
            <choiceReferences>choice_IP_Copyright_Billing_Updates</choiceReferences>
            <choiceReferences>choice_IP_Trademarks</choiceReferences>
            <choiceReferences>choice_IP_Patents</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_IP_Copyrights</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist_0</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space26_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartnerIPCopyrights</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space46</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Comments_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Comments&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Input_0_0</name>
        <label>Input</label>
        <locationX>226</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_0_0</targetReference>
        </connector>
        <fields>
            <name>introduction_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processing_number_0_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Processing Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!processing_number_0_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space33</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number_0_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number_0_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space12_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_0_0</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSubject_0_0</name>
            <choiceReferences>ABX_Sent_Order_order_number</choiceReferences>
            <choiceReferences>Revisions_Order</choiceReferences>
            <choiceReferences>Admin_Hold_Order_processing_number00</choiceReferences>
            <choiceReferences>Patent_Search_YouSendIt_Order_processing_number</choiceReferences>
            <choiceReferences>Cancellation_Confirmation_Order_processing_number00</choiceReferences>
            <choiceReferences>Patent_Search_Approve_Confirmation_Order_processing_number</choiceReferences>
            <choiceReferences>Post_Filing_Order_processing_number00</choiceReferences>
            <choiceReferences>WTR_Outreach_Order_processing_number00</choiceReferences>
            <choiceReferences>Other_subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_case_subject_0_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailSubject_0_0</name>
            <choiceReferences>Your_LegalZoom_Order_order_number_Urgent_Action_Required00</choiceReferences>
            <choiceReferences>Your_Legalzoomorder_revisions</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Hold_Confirmation00</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Patent_Search</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Cancellation_Confirmation00</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Materials_Needed00</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number00</choiceReferences>
            <choiceReferences>Other_Email_Subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>other_email_subject_0_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 250 characters).</errorMessage>
                <formulaExpression>LEN({!other_email_subject_0_0}) &lt; 251</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space27_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User_0_0</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue_0_0</name>
            <choiceReferences>choice_IP_Patents</choiceReferences>
            <choiceReferences>choice_IP_Patent_Materials</choiceReferences>
            <choiceReferences>Choice_CC_IP</choiceReferences>
            <choiceReferences>choice_IP_Patent_Order_Updates</choiceReferences>
            <choiceReferences>choice_IP_Patent_Billing_Updates</choiceReferences>
            <choiceReferences>choice_IP_Partners_and_Firms</choiceReferences>
            <choiceReferences>choice_IP_Trademarks</choiceReferences>
            <choiceReferences>choice_IP_Copyrights</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_IP_Patents</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist_0_0</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space26_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartnerIPPatents</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space47</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Comments_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Comments&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Input_0_0_0</name>
        <label>Input</label>
        <locationX>227</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_0_0_0</targetReference>
        </connector>
        <fields>
            <name>introduction_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processing_number_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Processing Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!processing_number_0_0_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space34</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number_0_0_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space35</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>markname</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mark Name&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space12_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_0_0_0</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSubject_0_0_0</name>
            <choiceReferences>Direct_Hit_Order_processing_number</choiceReferences>
            <choiceReferences>Logo_Search_Order_processing_number</choiceReferences>
            <choiceReferences>Missing_Literal_Element_Order_processing_number</choiceReferences>
            <choiceReferences>Need_Logo_for_Search_Order_processing_number</choiceReferences>
            <choiceReferences>Unable_to_Process_Search_Order_processing_number</choiceReferences>
            <choiceReferences>Other_subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_case_subject_0_0_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailSubject_0_0_0</name>
            <choiceReferences>Your_LegalZoom_Order_order_number000</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Update_Confirmation</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Hold_Confirmation000</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_Urgent_Action_Required000</choiceReferences>
            <choiceReferences>Your_LegalZoom_Order_order_number_mark_name000</choiceReferences>
            <choiceReferences>Other_Email_Subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>other_email_subject_0_0_0</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 250 characters).</errorMessage>
                <formulaExpression>LEN({!other_email_subject_0_0_0}) &lt; 251</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space27_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User_0_0_0</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue_0_0_0</name>
            <choiceReferences>choice_IP_Trademark_Search</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Search_Approvals</choiceReferences>
            <choiceReferences>choice_IP_Trademarks</choiceReferences>
            <choiceReferences>Choice_CC_IP</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Monitoring</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Goods_and_Services</choiceReferences>
            <choiceReferences>choice_IP_Trademark_Materials</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_IP_Trademark_Search</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist_0_0_0</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space26_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartnerIPTMSearch</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space48</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Comments_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Comments&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>16</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>which_team</targetReference>
        </connector>
        <fields>
            <name>Intro_page1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= {!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>team</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select a team:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Teams</name>
            <choiceReferences>IP_Trademarks</choiceReferences>
            <choiceReferences>IP_Copyrights</choiceReferences>
            <choiceReferences>IP_Patents</choiceReferences>
            <choiceReferences>IP_Trademark_Search</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>need_a_Queue</name>
        <label>need a Queue</label>
        <locationX>491</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ChooseQueue</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You selected &amp;quot;Other queue&amp;quot; but did not specify which Queue. Please click &lt;B&gt;PREVIOUS&lt;/B&gt; to return to the previous screen and select a Queue.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Intro</startElementReference>
    <textTemplates>
        <name>CaseSubjectLine</name>
        <text>Your LegalZoom Order #{!field_Order_Number}</text>
    </textTemplates>
    <textTemplates>
        <name>order_number_mark_name</name>
        <text>{!field_Order_Number_0_0_0} - {!markname}</text>
    </textTemplates>
    <textTemplates>
        <name>order_number_mark_name_IP_Trademarks</name>
        <text>{!field_Order_Number} - {!Mark_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>other_case_subject_plus_processing_number</name>
        <text>{!Other_case_subject} - Order #{!processing_number}</text>
    </textTemplates>
    <textTemplates>
        <name>other_case_subject_plus_processing_number_0</name>
        <text>{!Other_case_subject_0} - Order #{!processing_number_0}</text>
    </textTemplates>
    <textTemplates>
        <name>other_case_subject_plus_processing_number_0_0</name>
        <text>{!Other_case_subject_0_0} - Order #{!processing_number_0_0}</text>
    </textTemplates>
    <textTemplates>
        <name>other_case_subject_plus_processing_number_0_0_0</name>
        <text>{!Other_case_subject_0_0_0} - Order #{!processing_number_0_0_0}</text>
    </textTemplates>
    <variables>
        <name>variable_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmailSubjectOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLogin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMarkName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProcessingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubjectOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
