src/flows/Case_Wizard_BCS-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Product</name>
        <label>Assign_Product</label>
        <locationX>420</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>vProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product_top_choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_0</name>
        <label>Assign_Product</label>
        <locationX>420</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>vProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_listing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>305</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Line_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcessingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Processing_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Case_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFCother</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFCOtherField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Queue_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0</name>
        <label>Assign Values</label>
        <locationX>307</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Line_picklist_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_User_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Contact_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Subject_call</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Order_Number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFCother</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFCOTHER2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Queue_Selected_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Purchase</name>
        <choiceText>Add/Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Affiliate_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Affiliate &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Affiliate ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alternate_Names_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Alternate Names &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Names ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>AS_Subscription</name>
        <choiceText>AS Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASD_Legal_Plan_Retention</name>
        <choiceText>ASD-LegalPlan_Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASD Legal Plan Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignedUserChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vUser}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vAssignedUser</elementReference>
        </value>
    </choices>
    <choices>
        <name>Attorney_Consultation_Requests</name>
        <choiceText>Attorney Consultation Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attorney Consultation Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attorney_Services</name>
        <choiceText>Attorney Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attorney Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>BA_BAP_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;BA / BAP &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA / BAP ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bankruptcy</name>
        <choiceText>Bankruptcy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bankruptcy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Biz_HA_Sweeps</name>
        <choiceText>Biz HA Sweeps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz HA Sweeps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Advantage_Pro_Standalone</name>
        <choiceText>Business Advantage Pro Standalone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Advantage Pro Standalone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Formations</name>
        <choiceText>Business Formations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Formations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cancel_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancel &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_Remove</name>
        <choiceText>Cancel/Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel/Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canceled_no_refund_due</name>
        <choiceText>Canceled (no refund due)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled (no refund due)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Info_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Account Info &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Info ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Order_Info_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Order Info &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order Info ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Affiliate</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Affiliate - Order#{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Affiliate - Order#{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Alternate_Names</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Alternate Names - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Names - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_BA_BAP</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;BA/BAP - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA/BAP - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Billing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Biz_501c3</name>
        <choiceText>Biz 501c3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz 501c3</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Biz_Alt_Names</name>
        <choiceText>Biz Alt Names</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz Alt Names</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Biz_BSI</name>
        <choiceText>Biz BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Biz_Escalation</name>
        <choiceText>Biz Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biz Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Cancel</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancel &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_AS</name>
        <choiceText>CC Attorney Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Attorney Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_Biz</name>
        <choiceText>CC BIZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC BIZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_EP</name>
        <choiceText>CC EP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC EP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_General</name>
        <choiceText>CC General Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC General Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_IP</name>
        <choiceText>CC IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CC_PS</name>
        <choiceText>CC PS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC PS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Change_Account_Info</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Account Info &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Info  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Change_Order_Info</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change Order Info &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order Info  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Email</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_No_Specific_Service</name>
        <choiceText>No Specific Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Specific Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Other</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_PSD_BSI</name>
        <choiceText>PSD-BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD-BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Registered_Agent</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registered Agent &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered Agent  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SPAM</name>
        <choiceText>SPAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_STO</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STO &lt;FONT KERNING=&quot;1&quot;&gt; - Order #&lt;/FONT&gt;{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STO  - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Transfer</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Transfer - Order #{!field_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer - Order #{!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Your_LegalZoom_Order</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your LegalZoom Order # (order number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Your LegalZoom Order # {!field_Order_Number}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation_Subscription</name>
        <choiceText>Consultation Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation_Subscription_Renewal</name>
        <choiceText>Consultation Subscription Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation Subscription Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Error</name>
        <choiceText>Customer Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>DBA</name>
        <choiceText>DBA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DBA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demonstrated_how_to_use</name>
        <choiceText>Demonstrated how to use</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demonstrated how to use</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Error</name>
        <choiceText>Document - Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document - Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Shipping</name>
        <choiceText>Document - Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document - Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Error_Problem</name>
        <choiceText>Error/Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error/Problem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_AS_subscription</name>
        <choiceText>Explained benefits of AS subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of AS subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_product</name>
        <choiceText>Explained benefits of product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explained_benefits_of_RA_subscription</name>
        <choiceText>Explained benefits of RA subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Explained benefits of RA subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Feedback_No_Issue</name>
        <choiceText>Feedback (No Issue)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feedback (No Issue)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forms_Subscription</name>
        <choiceText>Forms Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forms Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forms_Subscription_Renewal</name>
        <choiceText>Forms Subscription Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forms Subscription Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorporation</name>
        <choiceText>Incorporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorporation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Information_Request</name>
        <choiceText>Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intellectual_Property</name>
        <choiceText>Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Advantage_Plus_Standalone</name>
        <choiceText>Legal Advantage Plus Standalone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Advantage Plus Standalone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Form</name>
        <choiceText>Legal Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>LLC</name>
        <choiceText>LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Grammatical</name>
        <choiceText>LZ Error- Grammatical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Grammatical</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Incorrect_Address</name>
        <choiceText>LZ Error- Incorrect Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Incorrect Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Incorrect_Name</name>
        <choiceText>LZ Error- Incorrect Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Incorrect Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Late_Non_Premium_Packages</name>
        <choiceText>LZ Error- Late-Non-Premium Packages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Late-Non-Premium Packages</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Late_Premium_Packages</name>
        <choiceText>LZ Error- Late-Premium Packages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Late-Premium Packages</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Missing_Information</name>
        <choiceText>LZ Error- Missing Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Missing Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Other</name>
        <choiceText>LZ Error- Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Petitioner_Respondent_Reversed</name>
        <choiceText>LZ Error- Petitioner/Respondent Reversed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Petitioner/Respondent Reversed</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Typo</name>
        <choiceText>LZ Error- Typo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Typo</stringValue>
        </value>
    </choices>
    <choices>
        <name>LZ_Error_Wrong_Document</name>
        <choiceText>LZ Error- Wrong Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LZ Error- Wrong Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_User</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No Value</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NonProfit</name>
        <choiceText>NonProfit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NonProfit</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCAA_Plans</name>
        <choiceText>OCAA Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCAA Plans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Billing</name>
        <choiceText>Order - Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_not_started</name>
        <choiceText>Order not started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order not started</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Saved</name>
        <choiceText>Order Saved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Saved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Status</name>
        <choiceText>Order - Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Update_Account_or_Contact</name>
        <choiceText>Order - Update Account or Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Update Account or Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Update_or_Cancel</name>
        <choiceText>Order - Update or Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order - Update or Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_describe_in_case_comments</name>
        <choiceText>Other (describe in case comments)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (describe in case comments)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_please_specify</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Queue_List</name>
        <choiceText>Other queue (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Reason</name>
        <choiceText>Other Reason for Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Reason</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_subject_please_specify</name>
        <choiceText>Other subject (please specify)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Outbound_Call</name>
        <choiceText>Outbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound_Result</name>
        <choiceText>Outbound Result</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Result</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services2</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Sales_Product_not_offered</name>
        <choiceText>Pre-Sales Product not offered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Sales Product not offered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Instructions_or_Execution</name>
        <choiceText>Product Instructions or Execution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Instructions or Execution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Question</name>
        <choiceText>Product Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>RA_Subscription</name>
        <choiceText>RA Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RA Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund_Requested</name>
        <choiceText>Refund Requested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund Requested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Registered_Agent_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registered Agent &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered Agent ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_Action</name>
        <choiceText>Request Action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Action</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requires_Transfer</name>
        <choiceText>Requires Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requires Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved_Issue</name>
        <choiceText>Resolved Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sam_s_Club</name>
        <choiceText>Sam&apos;s Club</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sam&apos;s Club</stringValue>
        </value>
    </choices>
    <choices>
        <name>select_one</name>
        <choiceText>select one</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StateProductProcessingNumber</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(State) - (Product) - (Processing Number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stateproductprocessing</elementReference>
        </value>
    </choices>
    <choices>
        <name>Technical_Issues</name>
        <choiceText>Technical Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Processing</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Transfer &lt;FONT KERNING=&quot;1&quot;&gt;(processing number)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer ({!Processing_Number})</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Order</name>
        <choiceText>Update Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>UrgentStateProductProcessingNumber</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;[Urgent] (State) - (Product) - (Processing Number)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>urgentstateproductprocessing</elementReference>
        </value>
    </choices>
    <choices>
        <name>Waiting_on_Customer</name>
        <choiceText>Waiting on Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting on Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Site_Technical_Issues</name>
        <choiceText>Web Site - Technical Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Site - Technical Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_User</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Your_LegalZoom_Order</name>
        <choiceText>Your LegalZoom Order #</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Call_or_Email_decision</name>
        <label>Call or Email</label>
        <locationX>30</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>call_default</defaultConnectorLabel>
        <rules>
            <name>Call_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_input</targetReference>
            </connector>
            <label>Call</label>
        </rules>
        <rules>
            <name>Email_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input</targetReference>
            </connector>
            <label>Email_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>case_comments_null</name>
        <label>case comments null</label>
        <locationX>247</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Input_Other_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>case_comments_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Comments_box</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Other_Subject</targetReference>
            </connector>
            <label>case comments is null</label>
        </rules>
        <rules>
            <name>case_comments_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Comments_box</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Comments</targetReference>
            </connector>
            <label>case comments not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_Other_Subject</name>
        <label>Input Other Subject</label>
        <locationX>576</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>Other not selected</defaultConnectorLabel>
        <rules>
            <name>Other_case_subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_subject_please_specify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Subject_Line</targetReference>
            </connector>
            <label>Other Case Subject</label>
        </rules>
        <rules>
            <name>Other_subject_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_subject_please_specify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject_Line</targetReference>
            </connector>
            <label>Other subject not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Product_Selected</name>
        <label>Other Product Selected</label>
        <locationX>731</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Assign_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_please_specify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_0</targetReference>
            </connector>
            <label>Other Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Queue_Selected</name>
        <label>Other Queue Selected</label>
        <locationX>446</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Additional_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Other_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>queuepicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Input</targetReference>
            </connector>
            <label>Other Queue</label>
        </rules>
        <rules>
            <name>not_selecting_other_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>queuepicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Select</targetReference>
            </connector>
            <label>not selecting other queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Queue_Selected_0</name>
        <label>Other Queue Selected</label>
        <locationX>444</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Additional_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Other_Queue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>queuepicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Input</targetReference>
            </connector>
            <label>Other Queue</label>
        </rules>
        <rules>
            <name>other_queue_was_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Queue_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>queuepicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Select</targetReference>
            </connector>
            <label>other queue was not selected</label>
        </rules>
    </decisions>
    <description>update</description>
    <dynamicChoiceSets>
        <name>A</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>B</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>D</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>E</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ending</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>F</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>G</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>G</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>H</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>H</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>I</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>J</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>J</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>K</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>K</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>L</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>L</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>M</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>N</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>O</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>P</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductLine</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Line_picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <outputAssignments>
            <assignToReference>vProduct</assignToReference>
            <field>Sub__c</field>
        </outputAssignments>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productlisting</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Q</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Q</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>queuepicklist</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>R</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforContact</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vReason</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reason</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResolutionDetail</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vResolution</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>S</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>starting</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>String</dataType>
        <displayField>Sub__c</displayField>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State</stringValue>
            </value>
        </filters>
        <object>Flow_Lookup__c</object>
        <sortField>Sub__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sub__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>T</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>U</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>U</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>V</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>W</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Y</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Z</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Z</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Case Wizard BCS</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Case_Comments</name>
        <label>Add Case Comments</label>
        <locationX>412</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Input_Other_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Case_Comments_box</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>242</locationX>
        <locationY>485</locationY>
        <assignRecordIdToReference>vCase</assignRecordIdToReference>
        <connector>
            <targetReference>case_comments_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_User__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>variable_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_By_Case_Wizard__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>vOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone-Inbound ACD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>vPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Number__c</field>
            <value>
                <elementReference>vProcessingNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2__c</field>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Contact_Notes__c</field>
            <value>
                <elementReference>vRFCother</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Contact_new__c</field>
            <value>
                <elementReference>vReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution1__c</field>
            <value>
                <elementReference>vResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Other_Subject_Line</name>
        <label>Update &quot;Other&quot; Subject Line</label>
        <locationX>572</locationX>
        <locationY>702</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject_Line</name>
        <label>Update Subject Line</label>
        <locationX>718</locationX>
        <locationY>615</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Additional_Input</name>
        <label>Additional Input</label>
        <locationX>752</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Product_Selected</targetReference>
        </connector>
        <fields>
            <name>introduction3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= {!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>intro_product</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;..............................&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;You selected: &lt;/B&gt;&lt;/FONT&gt;........&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;{!vProductLine}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>product_top_choices</name>
            <choiceReferences>DBA</choiceReferences>
            <choiceReferences>Incorporation</choiceReferences>
            <choiceReferences>LLC</choiceReferences>
            <choiceReferences>NonProfit</choiceReferences>
            <choiceReferences>choice_No_Specific_Service</choiceReferences>
            <choiceReferences>Other_please_specify</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Product&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_listing</name>
            <choiceReferences>productlisting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Comments_box</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Comments&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Call_input</name>
        <label>Call</label>
        <locationX>169</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_0</targetReference>
        </connector>
        <fields>
            <name>introduction_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number_0</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number_0})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space12_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_0</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Subject_call</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User_0</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue_0</name>
            <choiceReferences>Choice_Biz_Escalation</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Biz_Escalation</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist_0</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner2</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space50</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Contact_0</name>
            <choiceReferences>Add_Purchase</choiceReferences>
            <choiceReferences>Cancel_Remove</choiceReferences>
            <choiceReferences>Error_Problem</choiceReferences>
            <choiceReferences>Information_Request</choiceReferences>
            <choiceReferences>Product_Question</choiceReferences>
            <choiceReferences>Request_Action</choiceReferences>
            <choiceReferences>Update_Order</choiceReferences>
            <choiceReferences>Technical_Issues</choiceReferences>
            <choiceReferences>Other_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reason for Contact&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RFCOTHER2</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space21_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resolution_0</name>
            <choiceReferences>Canceled_no_refund_due</choiceReferences>
            <choiceReferences>Order_Saved</choiceReferences>
            <choiceReferences>Outbound_Result</choiceReferences>
            <choiceReferences>Pre_Sales_Product_not_offered</choiceReferences>
            <choiceReferences>Refund_Requested</choiceReferences>
            <choiceReferences>Requires_Transfer</choiceReferences>
            <choiceReferences>Resolved_Issue</choiceReferences>
            <choiceReferences>Other_describe_in_case_comments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Resolution&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space22_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Line_picklist_0</name>
            <choiceReferences>Attorney_Services</choiceReferences>
            <choiceReferences>Business_Formations</choiceReferences>
            <choiceReferences>Intellectual_Property</choiceReferences>
            <choiceReferences>Personal_Services</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Business_Formations</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Product Line&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>172</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>introduction</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot; KERNING=&quot;1&quot;&gt;..........&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;{!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>field_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!field_Order_Number})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Processing_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Processing Number&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>You have exceeded the number of characters allowed for this field (maximum length = 20 characters).</errorMessage>
                <formulaExpression>LEN({!Processing_Number})&lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>state_picklist</name>
            <choiceReferences>State</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;State&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Choice_Open</choiceReferences>
            <choiceReferences>Waiting_on_Customer</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_Case_Subject</name>
            <choiceReferences>choice_Your_LegalZoom_Order</choiceReferences>
            <choiceReferences>StateProductProcessingNumber</choiceReferences>
            <choiceReferences>UrgentStateProductProcessingNumber</choiceReferences>
            <choiceReferences>Other_subject_please_specify</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Your_LegalZoom_Order</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Subject&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_User</name>
            <choiceReferences>AssignedUserChoice</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <choiceReferences>E</choiceReferences>
            <choiceReferences>F</choiceReferences>
            <choiceReferences>G</choiceReferences>
            <choiceReferences>H</choiceReferences>
            <choiceReferences>I</choiceReferences>
            <choiceReferences>J</choiceReferences>
            <choiceReferences>K</choiceReferences>
            <choiceReferences>L</choiceReferences>
            <choiceReferences>M</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>O</choiceReferences>
            <choiceReferences>P</choiceReferences>
            <choiceReferences>Q</choiceReferences>
            <choiceReferences>R</choiceReferences>
            <choiceReferences>S</choiceReferences>
            <choiceReferences>T</choiceReferences>
            <choiceReferences>U</choiceReferences>
            <choiceReferences>V</choiceReferences>
            <choiceReferences>W</choiceReferences>
            <choiceReferences>X</choiceReferences>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>Z</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssignedUserChoice</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned User&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Queue</name>
            <choiceReferences>Choice_Biz_Escalation</choiceReferences>
            <choiceReferences>Biz_HA_Sweeps</choiceReferences>
            <choiceReferences>choice_Biz_501c3</choiceReferences>
            <choiceReferences>choice_Biz_Alt_Names</choiceReferences>
            <choiceReferences>Choice_Biz_BSI</choiceReferences>
            <choiceReferences>Choice_SPAM</choiceReferences>
            <choiceReferences>Other_Queue_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Biz_Escalation</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Queue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queuelist</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>queuepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space45</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner</name>
            <choiceReferences>select_one</choiceReferences>
            <choiceReferences>Sam_s_Club</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>select_one</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Partner&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Contact</name>
            <choiceReferences>Add_Purchase</choiceReferences>
            <choiceReferences>Cancel_Remove</choiceReferences>
            <choiceReferences>Error_Problem</choiceReferences>
            <choiceReferences>Information_Request</choiceReferences>
            <choiceReferences>Request_Action</choiceReferences>
            <choiceReferences>Update_Order</choiceReferences>
            <choiceReferences>Technical_Issues</choiceReferences>
            <choiceReferences>Other_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reason for Contact&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RFCOtherField</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space21</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resolution</name>
            <choiceReferences>Canceled_no_refund_due</choiceReferences>
            <choiceReferences>Order_Saved</choiceReferences>
            <choiceReferences>Outbound_Result</choiceReferences>
            <choiceReferences>Pre_Sales_Product_not_offered</choiceReferences>
            <choiceReferences>Refund_Requested</choiceReferences>
            <choiceReferences>Requires_Transfer</choiceReferences>
            <choiceReferences>Resolved_Issue</choiceReferences>
            <choiceReferences>Other_describe_in_case_comments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Resolution&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Line_picklist</name>
            <choiceReferences>Attorney_Services</choiceReferences>
            <choiceReferences>Business_Formations</choiceReferences>
            <choiceReferences>Intellectual_Property</choiceReferences>
            <choiceReferences>Personal_Services</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Business_Formations</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Product Line&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Intro_screen</name>
        <label>Intro_screen</label>
        <locationX>30</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_or_Email_decision</targetReference>
        </connector>
        <fields>
            <name>intro</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= {!vUser}&lt;FONT COLOR=&quot;#333333&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_or_Email</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Call or Email?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_or_Email_Question</name>
            <choiceReferences>Call</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Call</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Contact Type&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Queue_Select</name>
        <label>Queue_Select</label>
        <locationX>743</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Queue_Message</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You selected &amp;quot;Other queue&amp;quot; but did not specify which Queue. Please click &lt;B&gt;PREVIOUS&lt;/B&gt; to return to the previous screen and select a Queue.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Intro_screen</startElementReference>
    <textTemplates>
        <name>stateproductprocessing</name>
        <text>{!state_picklist} - {!vProduct} - {!Processing_Number}</text>
    </textTemplates>
    <textTemplates>
        <name>urgentstateproductprocessing</name>
        <text>[Urgent] {!state_picklist} - {!vProduct} - {!Processing_Number}</text>
    </textTemplates>
    <variables>
        <name>variable_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLogin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProcessingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRFCother</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
