src/flows/Case_Wizard_Customer_Care-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_vEnd</name>
        <label>Assign vEnd</label>
        <locationX>1155</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>vEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CC_AM</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;CC-AM &lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;(Requires AM Transfer)&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC - Account Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_AS2</name>
        <choiceText>CC AS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC AS</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_Biz</name>
        <choiceText>CC Biz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Biz</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_BSC</name>
        <choiceText>CC BCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC BSC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_General</name>
        <choiceText>CC General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC General</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_IP</name>
        <choiceText>CC IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>CC_PS</name>
        <choiceText>CC PS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC PS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate_Planning</name>
        <choiceText>Estate Planning</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Fulfillment_BIZ</name>
        <choiceText>Fulfillment BIZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fulfillment BIZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fulfillment_IP</name>
        <choiceText>Fulfillment IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fulfillment IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fulfillment_PS</name>
        <choiceText>Fulfillment PS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fulfillment PS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SalesSales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_Comment_Update</name>
        <label>Case Comment Update</label>
        <locationX>1063</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Assign_vEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>Case_Comments_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vEnd</targetReference>
            </connector>
            <label>Case Comments is null</label>
        </rules>
        <rules>
            <name>Case_Comments_is_NOT_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Comments</targetReference>
            </connector>
            <label>Case Comments is NOT null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Department</name>
        <label>Department</label>
        <locationX>581</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Case_Wizard_CC_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Biz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CC_Biz</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_BIZ_Case_Wizard</targetReference>
            </connector>
            <label>Biz</label>
        </rules>
        <rules>
            <name>PS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CC_PS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_CC_PS</targetReference>
            </connector>
            <label>PS</label>
        </rules>
        <rules>
            <name>AS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CC_AS2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_AS</targetReference>
            </connector>
            <label>AS</label>
        </rules>
        <rules>
            <name>IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CC_IP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_CC_IP</targetReference>
            </connector>
            <label>IP</label>
        </rules>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_Sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>BIZ_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fulfillment_BIZ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_Fulfillment_BIZ</targetReference>
            </connector>
            <label>BIZ Production</label>
        </rules>
        <rules>
            <name>BCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CC_BSC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_BCS</targetReference>
            </connector>
            <label>BCS</label>
        </rules>
        <rules>
            <name>PS_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fulfillment_PS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_PS_Fulfillment</targetReference>
            </connector>
            <label>PS Production</label>
        </rules>
        <rules>
            <name>IP_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineofBusiness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fulfillment_IP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Wizard_IP_Fulfillment</targetReference>
            </connector>
            <label>IP Production</label>
        </rules>
    </decisions>
    <description>RFC - Reason for Contact Phase 1</description>
    <interviewLabel>Case Wizard - Customer Care II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Wizard - Customer Care II</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Case_Comments</name>
        <label>Add Case Comments</label>
        <locationX>1270</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>vComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1287</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankyou</name>
            <fieldText>Thank you. This window will close automatically.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>351</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Department</targetReference>
        </connector>
        <fields>
            <name>blank7</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contact&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vName}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Contact Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vContactType}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Account Name/Login Id&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; = {!vLogin}&lt;FONT COLOR=&quot;#FFFFFF&quot;&gt;..........&lt;/FONT&gt;&lt;/FONT&gt;&lt;B&gt;Assigned User &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;= {!vUser}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________________________________________________________________________________________________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectProductType</name>
            <fieldText>Please Select the Customer&apos;s Line of Business:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineofBusiness</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>CC_AS2</choiceReferences>
            <choiceReferences>CC_Biz</choiceReferences>
            <choiceReferences>CC_BSC</choiceReferences>
            <choiceReferences>CC_General</choiceReferences>
            <choiceReferences>CC_IP</choiceReferences>
            <choiceReferences>CC_PS</choiceReferences>
            <choiceReferences>Fulfillment_BIZ</choiceReferences>
            <choiceReferences>Fulfillment_IP</choiceReferences>
            <choiceReferences>Fulfillment_PS</choiceReferences>
            <choiceReferences>SalesSales</choiceReferences>
            <choiceReferences>CC_AM</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Line of Business</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <subflows>
        <name>Case_Wizard_BCS</name>
        <label>Case Wizard BCS</label>
        <locationX>583</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_BCS</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_CC_General</name>
        <label>Case Wizard CC General</label>
        <locationX>749</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_CC_General_NEW</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_CC_IP</name>
        <label>Case Wizard CC IP</label>
        <locationX>750</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_CC_IP_NEW</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_CC_PS</name>
        <label>Case Wizard CC PS</label>
        <locationX>750</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_CC_PS_NEW</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_Fulfillment_BIZ</name>
        <label>Case Wizard Fulfillment BIZ</label>
        <locationX>574</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_Biz_Fulfillment</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_IP_Fulfillment</name>
        <label>Case Wizard IP Fulfillment</label>
        <locationX>582</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_IP_Fulfillment</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_PS_Fulfillment</name>
        <label>Case Wizard PS Fulfillment</label>
        <locationX>741</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>Case_Comment_Update</targetReference>
        </connector>
        <flowName>Case_Wizard_PS_Fulfillment</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vComment</name>
            <value>
                <elementReference>vComment</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_Wizard_Sales</name>
        <label>Case Wizard Sales</label>
        <locationX>748</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_Outbound</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CC_AS</name>
        <label>CC AS</label>
        <locationX>751</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_CC_AS</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CC_BIZ_Case_Wizard</name>
        <label>CC BIZ Case Wizard</label>
        <locationX>750</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Assign_vEnd</targetReference>
        </connector>
        <flowName>Case_Wizard_CC_BIZ_NEW</flowName>
        <inputAssignments>
            <name>vAssignedUser</name>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCase</name>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContactType</name>
            <value>
                <elementReference>vContactType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLogin</name>
            <value>
                <elementReference>vLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vName</name>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProduct</name>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductLine</name>
            <value>
                <elementReference>vProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueue</name>
            <value>
                <elementReference>vQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubject</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUser</name>
            <value>
                <elementReference>vUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>variable_Contact</name>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCase</assignToReference>
            <name>vCase</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>vAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLogin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProcessNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
