src/flows/Leads_Update_Initial_Activity-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>IfBlankUpdate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!dtInitial}),NOW(),{!dtInitial})</expression>
    </formulas>
    <interviewLabel>Leads Update Initial Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leads Update Initial Activity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_dtInitial</name>
        <label>Get dtInitial</label>
        <locationX>192</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Initial_Activity_From_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>dtInitial</assignToReference>
            <field>Date_Time_Initial_Activity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead_From_Task</name>
        <label>Lookup Lead From Task</label>
        <locationX>192</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_dtInitial</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>LeadID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initial_Activity_From_Lead</name>
        <label>Update Initial Activity From Lead</label>
        <locationX>192</locationX>
        <locationY>261</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_Initial_Activity__c</field>
            <value>
                <elementReference>IfBlankUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lookup_Lead_From_Task</startElementReference>
    <variables>
        <name>dtInitial</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
