src/flows/Quick_Log-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_values_for_name_and_email</name>
        <label>Assign values for name and email</label>
        <locationX>16</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>vFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_fillout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_fillout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_fillout</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refused_to_provide_info_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_name_and_email_part_1</name>
        <label>Assign values for name and email part 1</label>
        <locationX>20</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>vFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Sales_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vLeadSelected</name>
        <label>Assign vLeadSelected</label>
        <locationX>576</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>vLeadSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Name_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vOpportunitySelected</name>
        <label>Assign vOpportunitySelected</label>
        <locationX>716</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>vOpportunitySelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Name_is_null_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_of_Flow</name>
        <label>End of Flow</label>
        <locationX>876</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>vEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AS</name>
        <choiceText>AS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS</stringValue>
        </value>
    </choices>
    <choices>
        <name>AS_CC</name>
        <choiceText>AS CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attorney_Services</name>
        <choiceText>Attorney Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attorney Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCS</name>
        <choiceText>BCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BCS</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ</name>
        <choiceText>BIZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ_CC</name>
        <choiceText>BIZ CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ_Sales</name>
        <choiceText>BIZ Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both Name and Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Business_Formations</name>
        <choiceText>Business Formations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Formations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Care</name>
        <choiceText>Customer Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Care</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailAddress</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>General_CC</name>
        <choiceText>General CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intellectual_Property</name>
        <choiceText>Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP</name>
        <choiceText>IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP_CC</name>
        <choiceText>IP CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP_Sales</name>
        <choiceText>IP Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Forms</name>
        <choiceText>Legal Forms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Forms</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Name</name>
        <choiceText>Name</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Needs_to_Contact_SOS_State_Federal_Filing_Agency</name>
        <choiceText>Needs to Contact SOS / State / Federal Filing Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs to Contact SOS / State / Federal Filing Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neither</name>
        <choiceText>Provided Info</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_thank_you_I_d_like_to_make_a_new_Lead</name>
        <choiceText>No, thank you. I&apos;d like to make a new Lead.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_thank_you_I_d_like_to_make_a_new_Opportunity</name>
        <choiceText>No, thank you. I&apos;d like to make a new Opportunity.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OB_Sales</name>
        <choiceText>OB Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OB Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_BSI</name>
        <choiceText>Other BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherTransfer</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Services</name>
        <choiceText>Personal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD</name>
        <choiceText>PSD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD_CC</name>
        <choiceText>PSD CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD_Sales</name>
        <choiceText>PSD Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>UserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{!$GlobalConstant.User.Username}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_null</name>
        <label>Account null?</label>
        <locationX>716</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Account null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_records_found</name>
        <label>Any records found?</label>
        <locationX>437</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Last_Name_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>none found</defaultConnectorLabel>
        <rules>
            <name>Leads_or_Opportunities_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vLeadFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpportunityFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Agent_Leads_and_Opportunities</targetReference>
            </connector>
            <label>Leads or Opportunities were found</label>
        </rules>
        <rules>
            <name>Leads_and_opportunities_were_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLeadFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpportunityFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Agent_Leads_and_Opportunities</targetReference>
            </connector>
            <label>Leads and opportunities were found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_a_new_opportunity_chosen</name>
        <label>Create a new opportunity chosen?</label>
        <locationX>160</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>create_a_new_opportunity_was_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_null</targetReference>
            </connector>
            <label>create a new opportunity was chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_address_is_null</name>
        <label>Email address is null?</label>
        <locationX>160</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Create_a_new_opportunity_chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>vLeadSelected_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLeadSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_is_null</targetReference>
            </connector>
            <label>vLeadSelected is yes</label>
        </rules>
        <rules>
            <name>vOpportunitySelected_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunitySelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_is_null_0</targetReference>
            </connector>
            <label>vOpportunitySelected is yes</label>
        </rules>
        <rules>
            <name>yes_email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>you_must_provide_email</targetReference>
            </connector>
            <label>yes email is null</label>
        </rules>
        <rules>
            <name>email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Leads</targetReference>
            </connector>
            <label>email is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_is_null</name>
        <label>Last Name is null?</label>
        <locationX>440</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Create_a_new_opportunity_chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Lastnameisnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>you_must_provide_email</targetReference>
            </connector>
            <label>Last Name is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_is_null_0</name>
        <label>Last Name is null?</label>
        <locationX>713</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Account_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>everything else</defaultConnectorLabel>
        <rules>
            <name>Lastnameisnull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>you_must_provide_email</targetReference>
            </connector>
            <label>Last Name is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Sales_selected</name>
        <label>Not Sales selected?</label>
        <locationX>158</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Refused_to_provide_info_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Transferselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransfertoWhere</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Otherselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherNotSalesSelected</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_to_provide_info_selected</name>
        <label>Refused to provide info selected?</label>
        <locationX>160</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Email_address_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Email_refusedtoprovide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddress</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_with_Email_Unknown</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Name_refusedtoprovide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_with_Name_Unknown</targetReference>
            </connector>
            <label>Name</label>
        </rules>
        <rules>
            <name>Both_refusedtoprovide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Both</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_with_Unknown_Values</targetReference>
            </connector>
            <label>Both_refusedtoprovide</label>
        </rules>
        <rules>
            <name>Neither_refusedtoprovide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Neither</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_address_is_null</targetReference>
            </connector>
            <label>Neither_refusedtoprovide</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_does_agent_choose</name>
        <label>What does agent choose?</label>
        <locationX>716</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>End_of_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>agent chooses existing record</defaultConnectorLabel>
        <rules>
            <name>Agent_chooses_no_thanks_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_thank_you_I_d_like_to_make_a_new_Opportunity</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vOpportunitySelected</targetReference>
            </connector>
            <label>Agent chooses no thanks opportunity</label>
        </rules>
        <rules>
            <name>Agent_chooses_no_thanks_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_thank_you_I_d_like_to_make_a_new_Lead</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vLeadSelected</targetReference>
            </connector>
            <label>Agent chooses no thanks lead</label>
        </rules>
    </decisions>
    <description>Added finish location</description>
    <dynamicChoiceSets>
        <name>Leads</name>
        <dataType>String</dataType>
        <displayField>Lead_Shown_on_Flow__c</displayField>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Transaction Complete</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Lead_Shown_on_Flow__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunitiesa</name>
        <dataType>String</dataType>
        <displayField>Opportunity_Shown_on_Flow__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Opportunity_Shown_on_Flow__c</valueField>
    </dynamicChoiceSets>
    <label>Quick Log</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>715</locationX>
        <locationY>810</locationY>
        <assignRecordIdToReference>vAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_for_Not_Sales</name>
        <label>Create Activity for Not Sales</label>
        <locationX>689</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PleaseDescribe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Not_Sales__c</field>
            <value>
                <elementReference>PleaseDescribe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transfer_Not_Sales__c</field>
            <value>
                <elementReference>Transferred_To</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>890</locationX>
        <locationY>703</locationY>
        <assignRecordIdToReference>vLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>vFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_with_Email_Unknown</name>
        <label>Create Lead with Email Unknown</label>
        <locationX>476</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference>vLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ttOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_with_Name_Unknown</name>
        <label>Create Lead with Name Unknown</label>
        <locationX>475</locationX>
        <locationY>324</locationY>
        <assignRecordIdToReference>vLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_with_Unknown_Values</name>
        <label>Create Lead with Unknown Values</label>
        <locationX>476</locationX>
        <locationY>166</locationY>
        <assignRecordIdToReference>vLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>891</locationX>
        <locationY>810</locationY>
        <assignRecordIdToReference>vOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qHGs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Accounts</name>
        <label>Lookup Accounts</label>
        <locationX>291</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Leads</name>
        <label>Lookup Leads</label>
        <locationX>160</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Accounts</targetReference>
        </connector>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vLeadFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>434</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_records_found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOpportunityFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1008</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finish</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you. This page will now close automatically.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>OtherNotSalesSelected</name>
        <label>OtherSelected</label>
        <locationX>330</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Activity_for_Not_Sales</targetReference>
        </connector>
        <fields>
            <name>PleaseDescribe</name>
            <fieldText>Please Describe</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>quick_search_or_create_record</name>
        <label>quick search or create record</label>
        <locationX>22</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_for_name_and_email_part_1</targetReference>
        </connector>
        <fields>
            <name>Call_Direction</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Outbound</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Inbound</defaultSelectedChoiceReference>
            <fieldText>Call Direction</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Line</name>
            <choiceReferences>Business_Formations</choiceReferences>
            <choiceReferences>Intellectual_Property</choiceReferences>
            <choiceReferences>Personal_Services</choiceReferences>
            <choiceReferences>Attorney_Services</choiceReferences>
            <choiceReferences>Legal_Forms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Not_Sales</name>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Not Sales</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refused_to_Provide_Info</name>
            <choiceReferences>Name</choiceReferences>
            <choiceReferences>EmailAddress</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Neither</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Refused to Provide:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;(for creating a Lead only)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>If the caller refuses to provide information, you can create a Lead with &quot;Unknown&quot; as the name and email address. Click &quot;Yes&quot; if you want to create a Lead for &quot;Unknown.&quot; You cannot create an Opportunity if the caller will not provide information.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Please enter a properly formatted email address.</errorMessage>
                <formulaExpression>REGEX(Email , &quot;^([a-zA-Z0-9_\\-\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\\]?)$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Phone number must be 10 digits in length or less, with no spaces or special characters ( ) - .</errorMessage>
                <formulaExpression>LEN({!Phone})= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ready_to_Buy</name>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Lead</defaultSelectedChoiceReference>
            <fieldText>Create a New</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Show_Agent_Leads_and_Opportunities</name>
        <label>Show Agent Leads and Opportunities</label>
        <locationX>572</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_does_agent_choose</targetReference>
        </connector>
        <fields>
            <name>Leads_and_Opportunities</name>
            <choiceReferences>Opportunitiesa</choiceReferences>
            <choiceReferences>Leads</choiceReferences>
            <choiceReferences>No_thank_you_I_d_like_to_make_a_new_Lead</choiceReferences>
            <choiceReferences>No_thank_you_I_d_like_to_make_a_new_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TransfertoWhere</name>
        <label>Transfer</label>
        <locationX>329</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Activity_for_Not_Sales</targetReference>
        </connector>
        <fields>
            <name>Transferred_To</name>
            <choiceReferences>BIZ_Sales</choiceReferences>
            <choiceReferences>PSD_Sales</choiceReferences>
            <choiceReferences>IP_Sales</choiceReferences>
            <choiceReferences>OB_Sales</choiceReferences>
            <choiceReferences>General_CC</choiceReferences>
            <choiceReferences>BIZ_CC</choiceReferences>
            <choiceReferences>BCS</choiceReferences>
            <choiceReferences>PSD_CC</choiceReferences>
            <choiceReferences>IP_CC</choiceReferences>
            <choiceReferences>AS_CC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transferred To</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>you_must_provide_email</name>
        <label>you must provide email</label>
        <locationX>16</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_for_name_and_email</targetReference>
        </connector>
        <fields>
            <name>intro_provide_email</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MISSING INFORMATION!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide email address and last name to create a new Lead or Opportunity in salesforce.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you would like to search for existing Leads and Opportunities by email address ONLY, please enter it below.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you would like to enter ONLY Last Name OR Email, please enter it below and then select the correct option next to &amp;quot;Refused to Provide Info.&amp;quot;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_fillout</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_fillout</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_fillout</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space70</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refused_to_Provide_Info2</name>
            <choiceReferences>Name</choiceReferences>
            <choiceReferences>EmailAddress</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Neither</defaultSelectedChoiceReference>
            <fieldText>Refused to Provide Info:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>quick_search_or_create_record</startElementReference>
    <textTemplates>
        <name>ttCloseDate</name>
        <text>{!$Flow.CurrentDate} +14</text>
    </textTemplates>
    <textTemplates>
        <name>ttOpportunityName</name>
        <text>{!vFirstName} {!vLastName}</text>
    </textTemplates>
    <variables>
        <name>vAccountCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLeadFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunitySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
