src/flows/Quick_Log-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_variable_to_selected_Lead</name>
        <label>Assign variable to selected Lead</label>
        <locationX>897</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>vLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLeadSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variable_to_selected_Opportunity</name>
        <label>Assign variable to selected Opportunity</label>
        <locationX>887</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunitySelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_of_Flow</name>
        <label>End of Flow</label>
        <locationX>1019</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AS</name>
        <choiceText>AS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS</stringValue>
        </value>
    </choices>
    <choices>
        <name>AS_CC</name>
        <choiceText>AS CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AS CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCS</name>
        <choiceText>BCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BCS</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ</name>
        <choiceText>BIZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ_CC</name>
        <choiceText>BIZ CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIZ_Sales</name>
        <choiceText>BIZ Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIZ Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Care</name>
        <choiceText>Customer Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Care</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_CC</name>
        <choiceText>General CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP</name>
        <choiceText>IP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP_CC</name>
        <choiceText>IP CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>IP_Sales</name>
        <choiceText>IP Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IP Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Needs_to_Contact_SOS_State_Federal_Filing_Agency</name>
        <choiceText>Needs to Contact SOS / State / Federal Filing Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs to Contact SOS / State / Federal Filing Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_thank_you_I_d_like_to_make_a_new_Lead</name>
        <choiceText>No, thank you. I&apos;d like to make a new Lead.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vLeadId</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_thank_you_I_d_like_to_make_a_new_Opportunity</name>
        <choiceText>No, thank you. I&apos;d like to make a new Opportunity.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OB_Sales</name>
        <choiceText>OB Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OB Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_BSI</name>
        <choiceText>Other BSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other BSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherTransfer</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD</name>
        <choiceText>PSD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD_CC</name>
        <choiceText>PSD CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSD_Sales</name>
        <choiceText>PSD Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSD Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>UserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{!$GlobalConstant.User.Username}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist?</label>
        <locationX>20</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity</targetReference>
            </connector>
            <label>Yes, Account Exists</label>
        </rules>
        <rules>
            <name>No_Account_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_to_Buy_checked</targetReference>
            </connector>
            <label>No, Account Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist</label>
        <locationX>19</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Leads</targetReference>
            </connector>
            <label>Yes, Lead Exists</label>
        </rules>
        <rules>
            <name>No_Lead_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_and_Email_Address_are_null</targetReference>
            </connector>
            <label>No, Lead Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opportunity_Exist</name>
        <label>Does Opportunity Exist?</label>
        <locationX>20</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Opportunities</targetReference>
            </connector>
            <label>Yes, Opportunity Exists</label>
        </rules>
        <rules>
            <name>No_Opportunity_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_to_Buy_checked</targetReference>
            </connector>
            <label>No, Opportunity Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Last_and_Email_are_Null</name>
        <label>First, Last, and Email are Null?</label>
        <locationX>158</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>first_name_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_page</targetReference>
            </connector>
            <label>first name is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_and_Email_Address_are_null</name>
        <label>Last Name and Email Address are null?</label>
        <locationX>17</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Refused_to_give_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>refused_to_give_info_first_page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refused_to_give_information</targetReference>
            </connector>
            <label>refused to give info?</label>
        </rules>
        <rules>
            <name>Email_and_last_name_are_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_page_leads</targetReference>
            </connector>
            <label>Email and last name are null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Sales_selected</name>
        <label>Not Sales selected?</label>
        <locationX>159</locationX>
        <locationY>97</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Transferselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransfertoWhere</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Otherselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherNotSalesSelected</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_Buy_checked</name>
        <label>Ready to Buy checked?</label>
        <locationX>19</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Lookup_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ready_to_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ready_to_Buy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Last_and_Email_are_Null</targetReference>
            </connector>
            <label>Yes, Ready to Buy</label>
        </rules>
        <rules>
            <name>No_Not_Ready_to_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ready_to_Buy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Lead</targetReference>
            </connector>
            <label>No, Not Ready to Buy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_to_give_info</name>
        <label>Refused to give info?</label>
        <locationX>617</locationX>
        <locationY>598</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_refused_to_give_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refused_to_give_information</targetReference>
            </connector>
            <label>Yes, refused</label>
        </rules>
        <rules>
            <name>No_did_not_refuse_to_provide_info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>First_Name2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_please_return_to_previous</targetReference>
            </connector>
            <label>No, did not refuse - but did not fill out fields</label>
        </rules>
        <rules>
            <name>No_did_not_refuse_and_fields_filled_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Name2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_0</targetReference>
            </connector>
            <label>No did not refuse and fields filled out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_to_give_information</name>
        <label>Refused to give information?</label>
        <locationX>19</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_refused</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_for_Refused_To_Provide_Info</targetReference>
            </connector>
            <label>Yes, refused</label>
        </rules>
        <rules>
            <name>No_did_not_refuse2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Lead</targetReference>
            </connector>
            <label>No, did not refuse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_to_provide_info4</name>
        <label>Refused to provide info?</label>
        <locationX>295</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_refused4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refused_to_Provide_Info2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_for_Refused_To_Provide_Info</targetReference>
            </connector>
            <label>Yes, refused</label>
        </rules>
        <rules>
            <name>No_did_not_refuse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_you_must_provide_last_name_and_email</targetReference>
            </connector>
            <label>No, did not refuse - but did not fill out fields</label>
        </rules>
        <rules>
            <name>No_did_not_refuse_and_fields_filled_out2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Lead_0</targetReference>
            </connector>
            <label>No, did not refuse and fields filled out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Existing_Lead_Selected</name>
        <label>Was Existing Lead Selected?</label>
        <locationX>293</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_variable_to_selected_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>Other_make_a_new_lead_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_thank_you_I_d_like_to_make_a_new_Lead</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_and_Email_Address_are_null</targetReference>
            </connector>
            <label>Other was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Existing_Opportunity_Selected</name>
        <label>Was Existing Opportunity Selected?</label>
        <locationX>367</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Assign_variable_to_selected_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Yes_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Other_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_thank_you_I_d_like_to_make_a_new_Opportunity</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Last_and_Email_are_Null</targetReference>
            </connector>
            <label>Other was selected</label>
        </rules>
        <rules>
            <name>Other_Lead_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_thank_you_I_d_like_to_make_a_new_Lead</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_and_Email_Address_are_null</targetReference>
            </connector>
            <label>Other Lead was selected</label>
        </rules>
    </decisions>
    <description>Added finish location</description>
    <dynamicChoiceSets>
        <name>Leads</name>
        <dataType>String</dataType>
        <displayField>Lead_Shown_on_Flow__c</displayField>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vLeadSelected</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Lead_Shown_on_Flow__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunities</name>
        <dataType>String</dataType>
        <displayField>Opportunity_Shown_on_Flow__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOpportunitySelected</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Opportunity_Shown_on_Flow__c</valueField>
    </dynamicChoiceSets>
    <label>Quick Log</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Lead</name>
        <label>Create a Lead</label>
        <locationX>18</locationX>
        <locationY>954</locationY>
        <assignRecordIdToReference>vLeadSelected</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_variable_to_selected_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Lead_0</name>
        <label>Create a Lead</label>
        <locationX>436</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>vLeadSelected</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_variable_to_selected_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Email3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>364</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>vAccountCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_0</name>
        <label>Create Account</label>
        <locationX>618</locationX>
        <locationY>706</locationY>
        <assignRecordIdToReference>vAccountCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_for_Not_Sales</name>
        <label>Create Activity for Not Sales</label>
        <locationX>456</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PleaseDescribe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Not_Sales__c</field>
            <value>
                <elementReference>PleaseDescribe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transfer_Not_Sales__c</field>
            <value>
                <elementReference>Transferred_To</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>498</locationX>
        <locationY>462</locationY>
        <assignRecordIdToReference>vContactCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_0</name>
        <label>Create Contact</label>
        <locationX>748</locationX>
        <locationY>706</locationY>
        <assignRecordIdToReference>vContactCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_for_Refused_To_Provide_Info</name>
        <label>Create Lead for Refused To Provide Info</label>
        <locationX>158</locationX>
        <locationY>856</locationY>
        <assignRecordIdToReference>vLeadSelected</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_variable_to_selected_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Not Provided</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Not Provided</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>633</locationX>
        <locationY>461</locationY>
        <assignRecordIdToReference>vOpportunitySelected</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_variable_to_selected_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name_Login_Id__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qHGs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>888</locationX>
        <locationY>704</locationY>
        <assignRecordIdToReference>vOpportunitySelected</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_variable_to_selected_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name_Login_Id__c</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttOpportunityName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qHGs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>158</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exist</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>20</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>20</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opportunity_Exist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>error_page</name>
        <label>error page</label>
        <locationX>477</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refused_to_give_info</targetReference>
        </connector>
        <fields>
            <name>error_message</name>
            <fieldText>If you want to make an Opportunity, you must collect First Name, Last Name, and Email Address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error2</name>
            <fieldText>If the customer refuses to provide information, you can make a Lead instead. Select &quot;Yes&quot; next to Refused to Provide Info. This will allow you to make a Lead with &quot;Unknown&quot; as the Name and Email Address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refused_to_Provide_Info3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Refused to Provide Info</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>error_page_leads</name>
        <label>error page_leads</label>
        <locationX>159</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refused_to_provide_info4</targetReference>
        </connector>
        <fields>
            <name>error_intro_1</name>
            <fieldText>If you want to make a Lead, you must collect Last Name and Email Address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_intro_2</name>
            <fieldText>If the customer refuses to provide information, select &quot;Yes&quot; next to Refused to Provide Info. This will allow you to make a Lead with &quot;Unknown&quot; as the Name and Email Address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refused_to_Provide_Info2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Refused to Provide Info</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_please_return_to_previous</name>
        <label>Error_please_return_to_previous</label>
        <locationX>749</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>You must provide First Name, Last Name, and Email Address to proceed. Please return to the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_you_must_provide_last_name_and_email</name>
        <label>Error you must provide last name and email</label>
        <locationX>296</locationX>
        <locationY>856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_you_must_provide_last_and_email</name>
            <fieldText>You must provide a last name and email address to proceed. Please return to the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1150</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finish</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you. This page will now close automatically.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>OtherNotSalesSelected</name>
        <label>OtherSelected</label>
        <locationX>306</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Activity_for_Not_Sales</targetReference>
        </connector>
        <fields>
            <name>PleaseDescribe</name>
            <fieldText>Please Describe</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>quick_search_or_create_record</name>
        <label>quick search or create record</label>
        <locationX>18</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Sales_selected</targetReference>
        </connector>
        <fields>
            <name>Call_Direction</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Outbound</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Inbound</defaultSelectedChoiceReference>
            <fieldText>Call Direction</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Department</name>
            <choiceReferences>BIZ</choiceReferences>
            <choiceReferences>IP</choiceReferences>
            <choiceReferences>PSD</choiceReferences>
            <choiceReferences>AS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BIZ</defaultSelectedChoiceReference>
            <fieldText>Department</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Not_Sales</name>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Not Sales</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refused_to_Provide_Info</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Refused to Provide Info &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;(for creating a Lead only)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>If the caller refuses to provide information, you can create a Lead with &quot;Unknown&quot; as the name and email address. Click &quot;Yes&quot; if you want to create a Lead for &quot;Unknown.&quot; You cannot create an Opportunity if the caller will not provide information.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. Please enter a properly formatted email address.</errorMessage>
                <formulaExpression>REGEX(Email , &quot;^([a-zA-Z0-9_\\-\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\\]?)$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Phone number must be 10 digits in length or less, with no spaces or special characters ( ) - .</errorMessage>
                <formulaExpression>LEN({!Phone})= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ready_to_Buy</name>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Lead</defaultSelectedChoiceReference>
            <fieldText>Create a New</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Show_Leads</name>
        <label>Show Leads</label>
        <locationX>155</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Existing_Lead_Selected</targetReference>
        </connector>
        <fields>
            <name>Intro2</name>
            <fieldText>There are already one or more open Leads in salesforce for this login email address. Would you like to update an existing Lead?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Leadsforthisaccount</name>
            <choiceReferences>Leads</choiceReferences>
            <choiceReferences>No_thank_you_I_d_like_to_make_a_new_Lead</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Show_Opportunities</name>
        <label>Show Opportunities</label>
        <locationX>161</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Existing_Opportunity_Selected</targetReference>
        </connector>
        <fields>
            <name>Intro1</name>
            <fieldText>There are already one or more open Opportunities in salesforce for this login email address. Would you like to update an existing Opportunity?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunitiesandLeads</name>
            <choiceReferences>Opportunities</choiceReferences>
            <choiceReferences>No_thank_you_I_d_like_to_make_a_new_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space60</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intfo_Leads</name>
            <fieldText>There may also be one or more open Leads for this login email address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space62</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_me_Leads</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Show me Leads</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TransfertoWhere</name>
        <label>Transfer</label>
        <locationX>306</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Activity_for_Not_Sales</targetReference>
        </connector>
        <fields>
            <name>Transferred_To</name>
            <choiceReferences>BIZ_Sales</choiceReferences>
            <choiceReferences>PSD_Sales</choiceReferences>
            <choiceReferences>IP_Sales</choiceReferences>
            <choiceReferences>OB_Sales</choiceReferences>
            <choiceReferences>General_CC</choiceReferences>
            <choiceReferences>BIZ_CC</choiceReferences>
            <choiceReferences>BCS</choiceReferences>
            <choiceReferences>PSD_CC</choiceReferences>
            <choiceReferences>IP_CC</choiceReferences>
            <choiceReferences>AS_CC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transferred To</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>quick_search_or_create_record</startElementReference>
    <textTemplates>
        <name>ttCloseDate</name>
        <text>{!$Flow.CurrentDate} +14</text>
    </textTemplates>
    <textTemplates>
        <name>ttOpportunityName</name>
        <text>{!First_Name} {!Last_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ttOpportunityName2</name>
        <text>{!First_Name2} {!Last_Name2}</text>
    </textTemplates>
    <variables>
        <name>vAccountCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunitySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
